body{
    font-family: "Montserrat";
}


#title {
    background-color: #03001C;
    color: white;
}

h1{
    font-family: 'Montserrat-', sans-serif;
    size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
}

p{
    color: aliceblue;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar  */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding-left: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: "";
}


/* Download buttons */

.download-button{
    margin:5% 3% 5% 0;
}

 /* Title Image */
.phone{
    padding-bottom: 50%;
    width:55%;
    transform: rotate(5deg);
}

/* Middle Container */
.fa-solid fa-circle-check{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #301E67;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.features-H1{
    color: aliceblue;
    font-family: Ubuntu;
    text-align: center;
}

.icon{
    padding-top: 30%;
    /* color: red; */
    margin-bottom: 1rem;
}

.icon:hover{
    color: aliceblue;
}

