body{
    font-family: "Montserrat";
    text-align: center;
}


#title {
    background-color: #03001C;
    color: white;
    text-align: left;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Pacifico', cursive;
}

.about-Me{
    font-family: 'Raleway', sans-serif;
    size: 5rem;
    color:white
}
p{
    font-family: "Ubuntu";
    color: black;
}
    /* Headings */
.big-Heading{
    font-family: 'Montserrat-Bold', sans-serif;
    size: 3rem;
    line-height: 1.5;
}


.section-Heading{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar  */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding-left: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: "";
}


/* Download buttons */

.download-button{
    margin:5% 3% 5% 0;
}

 /* Title Image */
.phone{
    padding-bottom: 70%;
    max-width: 70%;
    
}



/* Middle Container */
.fa-solid fa-circle-check{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #301E67;
}

.feature-title{
    font-size: 1.5rem;
    color: white;
}

.feature-box{
    padding: 5%;
}

.features-H1{
    color: aliceblue;
    font-family: Ubuntu; 
}

.icon{
    padding-top: 30%;
    color: yellow;
    margin-bottom: 1rem;
}

.icon:hover{
    color: aliceblue;
}

/* Testimonial */

#testimonials{
    padding: 7% 15%;
    color: #fff;
    background-color: #5B8FB9;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #5B8FB9;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px;
}
 /* Pricing Section */
#pricing{
    padding:100px;
    background-color: #B6EADA;
}

.price-text{
    
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding:3% 2%;
}





#footer{
    background-color:#B6EADA ;
    padding-bottom: 5px;
}


/* CTA Section */
#cta {
    background-color: #03001C;
    color:aliceblue;
    padding:7% 15%;
}
.cta-heading{
    padding-bottom: 3%;
    color: aliceblue;
}
.cta-points{
    color: aliceblue;
}

/* Footer section */
#footer{
    padding: 7%;
}

.social-icon{

    margin:20px 10px;
}


@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .phone{
        position: static;
        width: 100px;
    }

}

