body{
    font-family: "Montserrat";
}


#title {
    background-color: #03001C;
    color: white;
}

h1{
    font-family: 'Montserrat-Bold', sans-serif;
    size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    color: black;
    font-family: "Montserrat-Bold";
}

p{
    color: black;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar  */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding-left: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: "";
}


/* Download buttons */

.download-button{
    margin:5% 3% 5% 0;
}

 /* Title Image */
.phone{
    padding-bottom: 70%;
    max-width: 70%;
    
}

/* Middle Container */
.fa-solid fa-circle-check{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}

/* features section */
#features{
    padding: 7% 15%;
    background-color: #301E67;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.features-H1{
    color: aliceblue;
    font-family: Ubuntu;
    text-align: center;
}

.icon{
    padding-top: 30%;
    color: yellow;
    margin-bottom: 1rem;
}

.icon:hover{
    color: aliceblue;
}

/* Testimonial */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    color: #fff;
    background-color: #5B8FB9;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #5B8FB9;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px;
}
 /* Pricing Section */
#pricing{
    padding:100px;
    background-color: #B6EADA;
}

.pricing-column{
    padding:3% 2%;
}

#cta{
    
    text-align: center;
    background-color:#B6EADA ;
}

#footer{
    text-align: center;
    background-color:#B6EADA ;
    padding-bottom: 5px;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .phone{
        position: static;
        width: 100px;
    }

}

